*{
    padding: 0;
    margin: 0;
}
#top{
    width: 100%;
    height: 170px;
    background-color: #f0f0f0;
    /*border: solid 1px red;*/

}
#top img{
    margin-top: 5%;
    margin-left: 90%;
    width: 5%;
    height: 10%;
}
#top .p1{
    font-size: 35px;
    color: #dc60b7;
    margin-left: 35%;
}
#top .p2{
    margin-left: 35%;
    font-size: 18px;
}
#tel{
    font-size: 20px;
    border: none;
    color: #b9b9b9;
    height:50px;

}
#yzm{
    font-size: 20px;
    border:none;
    color: #b9b9b9;
    height:50px;
    width: 170px;


}
#register{
    width: 90%;
    height: 45px;
    margin-top: 10%;
    margin-left: 5%;
    /*border: solid 1px red;*/
    background-color: #b9b9b9;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;

}
.demo_line{
    margin-top: 20%;
    letter-spacing: -1px;
    color: #ddd;
}
.demo_line span{
    letter-spacing: 0;
    color: #222;
    margin:0 20px;
}
#div_login{
    width: 30%;
    height: 39px;
    border: solid 1px #ed70e6;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    margin-left: 33%;
    margin-top: 8%;

}
#div_login a{

    text-decoration: none;
    color: #ed70e6;
}